.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  display: block;
}

.card__content {
  margin: 12px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 413px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  max-width: 390px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-size: contain;
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 40%;
  margin-left: auto;
  padding: 0;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url(../images/liked.svg);
  opacity: 100%;
}

.card__like-button_active:hover {
  opacity: 50%;
}

.card__delete-button {
  background-image: url(../images/delete.svg);
  height: 32px;
  width: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 0;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__like-button {
    height: 18px;
    width: 20px;
  }

  /* .card__like-button_active {
    height: 18px;
    width: 20px;
  } */
}
