.footer {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #fcf5e5;
}

.footer__content {
  margin: 0;
  padding: 60px 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  opacity: 0.7;
}
