.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  background-color: #ffffff;
  padding: 32px 50px;
  max-width: 730px;
  border-radius: 8px;
  width: 100%;
}

.modal__close-btn {
  padding: 0;
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  background-image: url(../images/closebtn.png);
  background-position: center;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  max-width: 770px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 8px;
  opacity: 0.7;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__input {
  margin: 0;
  height: 52px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding-left: 12px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input-error {
  color: #ff0000b2;
  opacity: 0.7;
  margin: 8px 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  display: none;
}

.modal__error_visible {
  display: block;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input_type_error:hover {
  border: 1px solid rgba(255, 0, 0, 1);
}

.modal__save-btn {
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 58px;
  max-width: 156px;
  margin: 0;
  border: none;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.modal__save-btn:hover {
  transform: translateY(-1px);
}

.modal__save-btn_inactive {
  background-color: #212121;
  opacity: 0.5;
}

.modal__image-container {
  position: relative;
  background-color: transparent;
  padding: 0;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  margin: auto;
  border-radius: 8px;
  display: block;
  object-fit: contain;
}

.modal__image-close-btn {
  padding: 0;
  position: absolute;
  top: 0px;
  right: -52.5px;
  height: 40px;
  width: 40px;
  background-image: url(../images/img-close-btn.svg);
  background-position: center;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}

.modal__image-close-btn:hover {
  opacity: 0.4;
}

.modal__image-title {
  background-color: #212121;
  margin: 0;
  padding: 4px 8px;
  border-radius: 8px;
  justify-content: left;
  color: #ffffff;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -40px;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
    max-width: 300px;
  }

  .modal__title {
    padding: 10px 0;
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
    margin: 0 0 24px;
    height: 48px;
  }

  .modal__save-btn {
    width: 100%;
    max-width: none;
  }
  .modal__image-container {
    padding: 0 6px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__image-close-btn {
    top: -48px;
    right: 6px;
  }

  .modal__image-title {
    font-size: 16px;
    bottom: -35.5px;
    left: 6px;
  }
}
