.profile {
  display: flex;
  padding: 34px 0 20px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}

.profile__image {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  display: block;
}

.profile__edit-avatar-button {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(33, 33, 33, 0.7);
  transition: opacity 0.2s ease;
  gap: 8px;
}

.profile__edit-avatar-button::after {
  content: "Edit Avatar";
  font-size: 16px;
  margin-bottom: 12px;
  color: #fcf5e5;
}

.profile__avatar-container:hover .profile__edit-avatar-button {
  opacity: 1;
}

.profile__pencil-icon {
  margin-bottom: 12px;
}

.profile__name {
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__job {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121b2;
}

.profile__description {
  display: flex;
  flex-direction: column;
}

.profile__edit-button {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  text-align: left;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 0.6;
  max-width: 120px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.profile__add-button:hover {
  background-color: #212121cc;
  opacity: 8.8;
}

@media screen and (max-width: 630px) {
  .profile {
    max-width: 1280px;
    flex-direction: column;
    padding: 20px 0;
  }

  .profile__image {
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    margin: 12px 0 6px;
    font-size: 20px;
  }

  .profile__description {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .profile__job {
    margin: 0 0 32px;
  }

  .profile__edit-button {
    margin: 0 0 20px;
    align-self: center;
    padding: 0;
  }

  .profile__add-button {
    max-width: 400px;
    margin: 0;
    width: 100%;
    align-self: center;
    padding: 0;
  }
  .profile__avatar-container {
    margin: 0 auto;
    position: relative;
    background-color: pink;
  }
  .profile__edit-avatar-button {
    opacity: 1;
    border-radius: 6px;
    background-color: rgba(33, 33, 33, 0.6);
    width: 23px;
    height: 23px;
    margin: 0;
    padding: 0;
    gap: 0;
    top: 52px;
    left: 52px;
    align-items: center;
    justify-content: center;
  }
  .profile__edit-avatar-button::after {
    content: "";
    font-size: 0px;
    margin-bottom: 0px;
  }
  .profile__pencil-icon {
    margin: 0;
  }
}
